:root {
    --customLinkBlue: #0000EE;
  }

   /* added this to ensure viewport cannot be scrolled sideways */
  html, body {
    overflow-x: hidden;
    margin: 0rem 0.2rem 0.2rem 0.2rem;
  
  }

  @font-face {
    font-family: 'MyCustomGothicFont';
    src: url('/fonts/OldEnglishGothicPixelRegular.ttf') format('truetype');
  }